In [1]:
import pandas as pd

In [3]:
from ete3 import NCBITaxa

In [4]:
ncbi = NCBITaxa()
ncbi.update_taxonomy_database()

NCBI database not present yet (first time used?)
Updating taxdump.tar.gz from NCBI FTP site (via HTTP)...
Done. Parsing...

Loading node names...
2444347 names loaded.
283288 synonyms loaded.
Loading nodes...
2444347 nodes loaded.
Linking nodes...
Tree is loaded.
Updating database: /home/yasas/.etetoolkit/taxa.sqlite ...
 2444000 generating entries...

Inserting synonyms:      10000

Uploading to /home/yasas/.etetoolkit/taxa.sqlite

Inserting taxid merges:  25000

Inserting taxids:       15000

Inserting taxids:       2440000

Local taxdump.tar.gz seems up-to-date

Loading node names...
2444347 names loaded.
283288 synonyms loaded.
Loading nodes...
2444347 nodes loaded.
Linking nodes...
Tree is loaded.
Updating database: /home/yasas/.etetoolkit/taxa.sqlite ...
 2444000 generating entries...
Uploading to /home/yasas/.etetoolkit/taxa.sqlite

Inserting synonyms:      25000

Inserting taxid merges:  45000

Inserting taxids:       25000

Inserting taxids:       2440000

In [8]:
vphmm = pd.read_csv('./Additional_data_vpHMMs_v2.csv')

In [72]:
nc = ncbi.query("Host != 'archaea' and Host != 'invertebrates' and Host != 'land plants'")

In [9]:
vphmm.query('Associated == "Caudovirales"')

       Number    Associated TaxRank   MinScore NextMaxScore
21877   28206  Caudovirales   Order  127:06:00          NaN
21878   22542  Caudovirales   Order  109:06:00    107:04:00
21879   24248  Caudovirales   Order   59:01:00          NaN
21880   17969  Caudovirales   Order   33:00:00          NaN
21881   27737  Caudovirales   Order  123:09:00          NaN
...       ...           ...     ...        ...          ...
21982    5359  Caudovirales   Order   90:06:00     36:00:00
21983   31124  Caudovirales   Order   49:08:00          NaN
21984    6732  Caudovirales   Order   32:06:00          NaN
21985   28296  Caudovirales   Order  138:08:00    101:01:00
21997   23505  Caudovirales   Order   72:02:00     56:09:00

[91 rows x 5 columns]

In [132]:
vphmm[vphmm["Associated"].str.contains("ria")]["Associated"].unique()

array(['Cafeteriavirus', 'Triavirus', 'Variarterivirinae'], dtype=object)

In [11]:
dc=ncbi.get_descendant_taxa(2731619)

In [ ]:
#get all the descendents of caudoviricetes order

In [123]:
descendants = ncbi.get_descendant_taxa('Caudoviricetes')

In [134]:
genus = set()
fam = set()
subfam = set()

In [135]:
for d in descendants: #extract the genus and family from each descendant
    t = ncbi.get_taxid_translator(ncbi.get_lineage(d))
    tmp = dict(zip(ncbi.get_rank(t.keys()).values(),t.values()))
    if tmp.get('family',None) not in fam:
        fam.add(tmp.get('family',None))
    if tmp.get('genus',None) not in genus:
        genus.add(tmp.get('genus',None))  
    if tmp.get('subfamily',None) not in genus:
        subfam.add(tmp.get('subfamily',None))

In [131]:
tmp

{'no rank': 'Polaribacter phage P12002S',
 'superkingdom': 'Viruses',
 'species': 'Incheonvirus P12002S',
 'clade': 'Duplodnaviria',
 'kingdom': 'Heunggongvirae',
 'phylum': 'Uroviricota',
 'class': 'Caudoviricetes',
 'genus': 'Incheonvirus'}

In [116]:
caudfam = fam.intersection(set(vphmm["Associated"].unique())) #extract the members of caudoviricetes
#(families) that are present in vphmm

In [117]:
caudgen = genus.intersection(set(vphmm["Associated"].unique()))#extract the members of caudoviricetes
#(genera) that are present in vphmm

In [137]:
caidsubfam = subfam.intersection(set(vphmm["Associated"].unique()))

In [142]:
caudo = vphmm[vphmm["Associated"].isin((caudgen.union(caudfam)).union(caidsubfam))].copy()

In [143]:
caudo.to_csv("caudovirales_viphogs_210922.csv",index=False)